<style>
  .online {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<div>
  <input type="text" [(ngModel)]="user" placeholder="Seu Nome" />
  <input type="text" [(ngModel)]="message" placeholder="Digite sua mensagem" />
  <button (click)="sendMessage()">Enviar</button>
</div>

<div *ngFor="let messageObj of messages">
  <span [class.online]="isUserOnline(messageObj.connectionId)"></span>
  {{ messageObj.user }}: {{ messageObj.message }}
</div>